/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap');

body {
    font-family: "Signika", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
    text-align: center;
    background: radial-gradient(circle, rgba(45,3,59,1) 0%, rgba(106,13,173,1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    animation: fadeIn 1s ease-in;
    padding-bottom: 60px; /* Ajustamos el espacio inferior sin exagerar */
}


/*para cambiar la imagen*/
.firma {
    width: 100%;
    max-width: 550px;  /* Alineado con el contenedor de los social-links*/
    height: 200px;
    background-image: url('img/firma1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
    padding: 50px;
}

/* Animación de entrada */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

h1 {
    font-size: 3.5rem;
    font-weight: 600;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: -10px;
    max-width: 500px;
}

/* Contenedor de enlaces */
.links {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
}

/* Links sociales */
.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 600px;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    font-size: 1.3rem;
    gap: 10px;
}

.social-links a:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

/* Alineación de los iconos */
.social-links a i {
    font-size: 1.6rem;
}

/* Iconos de contacto */
.contact-links {
    display: flex;
    justify-content: center;
    gap: 25px;  /* Ajustamos el espacio entre los enlaces de manera más moderada */
    margin-top: 30px;  /* Espacio más moderado en la parte superior */
    margin-bottom: 20px;  /* Un margen inferior más pequeño */
}

.contact-links a {
    font-size: 2.2rem; /* Aumentamos un poco el tamaño de los iconos */
    color: #fff;
    transition: transform 0.3s ease;
}

.contact-links a:hover {
    transform: scale(1.1);  /* Un efecto de hover más sutil */
}

/* Footer*/
footer {
    text-align: center;
    font-size: 0.6rem; /* Aumentamos ligeramente el tamaño de la fuente */
    color: rgba(255, 255, 255, 0.5);
    padding: 10px 0;  /* Un padding más moderado */
    font-weight: 300;
    line-height: 1.3; /* Un poquito más de espacio entre las líneas */
    margin: 0;
}

footer h2 {
    margin: 0;
}

/* Medias Queries para versiones responsivas*/
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.2rem;
        max-width: 400px;
    }

    .social-links a {
        font-size: 1.1rem;
        padding: 12px 15px;
        max-width: 90%; 
    }

    .contact-links a {
        font-size: 1.5rem;
    }

    footer {
        font-size: 0.7rem;
    }

     /* Cambiar la imagen con background en la versión responsiva */
     .firma {
        background-image: url('img/firma2.svg');
        height: 180px;  /* Ajustamos la altura para que no ocupe demasiado espacio */
        max-width: 500px; /* tamaño adecuado */
        margin-left: 10px;  /* Centrada sin desplazamiento */
        margin-top: 60px;  /* Más espacio en la parte superior para separar de texto */
        margin-bottom: 40px;  /* Más espacio debajo de la firma en versión responsiva */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
        max-width: 350px;
    }

    .social-links a {
        font-size: 1rem;
        padding: 10px 12px;
        max-width: 90%;
    }

    .contact-links a {
        font-size: 1.3rem;
    }

    footer {
        font-size: 0.6rem;
    }

     .firma {
        background-image: url('img/firma2.svg');
        height: 150px; 
        max-width: 400px;
        margin-left: 10px;
        margin-top: 70px;
        margin-bottom: 50px;
    }
}

/* pagina home*/
.mantenimiento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #fff;
   
}

.mantenimiento h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.mantenimiento p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 10px;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    padding: 10px 0;
    margin-top: 20px;
}
